.container {
  padding: 20px;
}

mat-label {
  font-weight: 500;
}


.main-card {
  border: 1px solid #C2C1C1;
  background-color: white;
  padding-left: 40px;
}


ul {
  margin-top: 50px;
}

.full-width {
  width: 100%;
}


/* Ajout de styles pour la responsivité */
@media (max-width: 768px) {
  .container {
    flex-direction: column; 
    padding: 10px; 
  }

  .main-card,
  .sub-card {
    flex: 1 1 100%;
    margin: 10px 0;
  }
}
