.container{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  width: 30%;
}

.form{
  width: 100%;
}

.tableau {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  background-color: white;
  border: 0.5px solid #000000;
}
td {
  border: none;
  padding: 8px;
}
tr {
  border-bottom: 0.5px solid black;
}
tr:last-child {
  border-bottom: none;
}


/* Supprimer la bordure sous la dernière ligne */
tr:last-child {
  border-bottom: none;
}

/* Style pour les éléments multi-lignes */
.multi-line {
  display: flex;
  flex-direction: column; /* Afficher le contenu sur deux lignes */

}

/* S'assurer que le texte est en gras pour l'étiquette */
.multi-line span:first-child {
  font-weight: 400;
  margin-left: 5px;
}

/* Styles des champs de saisie */
input[type="text"] {
  padding: 6px;
  margin-top: 4px;
  border: none;
  border-radius: 4px;
  width: 350px;
}

/* Bouton de soumission */
input[type="submit"] {
  padding: 10px 20px;
  background-color: #0D0DC5;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 435px;
}

/* Changer la couleur du bouton quand on passe dessus */
input[type="submit"]:hover {
  background-color: #0D0DC5;
}

.link{
  color: #0D0DC5;
  cursor: pointer;
  text-decoration: underline;
}


.icon{
  cursor: pointer;
  border: none;
  background-color: initial;
  font-size: 10px;
}

.btn-send{
  cursor: pointer;
  color: white;
  background-color: #0D0DC5;
  border: none;
  margin: 16px 0;
  padding: 8px;
}


.div-btn{ 
  display: flex; 
  justify-content: right; 
  text-align: right; 
  width: 114%;
}

